server/node_modules/
frontend/node_modules/
server/.nyc_output/
server/coverage/
frontend/package-lock.json
server/package-lock.json
docker-compose.yml
frontend/lcov.info
server/lcov.info
.scannerwork/