.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-background {
  background-color: rgb(241, 241, 241);
  min-height: 100vh;
}

.app-element-background {
  background-color:  rgb(251, 251, 251);
}

.app-element-background-2 {
  background-color:  rgb(253, 253, 253);
}

.app-element-background-3 {
  background-color:  rgb(254, 254, 254);
}

.modal-header {
  background-color:  rgb(249, 249, 249);
}

.page-title {
  text-align: center
}

.fc .fc-button-primary:disabled {
  background-color: #525c66 !important;
  border-color: #525c66 !important;
}

.fc .fc-button-primary:disabled:hover {
  background-color: #525c66 !important;
  border-color: #525c66 !important;
}

.fc .fc-button-primary:hover {
  background-color:#343a40 !important;
  border-color: #343a40 !important;
}


.fc .fc-button-primary {
  background-color:#414950 !important;
 border-color:#414950 !important;
}

.fc .fc-button-primary:focus {
  box-shadow:0 0 0 .2rem rgba(38, 143, 255, 0) !important
}

.btn-primary:focus {
  color:#fff;
  background-color:#0069d9;
  border-color:#0062cc;
  box-shadow:0 0 0 .2rem rgba(38, 143, 255, 0) !important
 }

 .btn-danger:focus {
  color:#fff;
  background-color:#c82333;
  border-color:#bd2130;
  box-shadow:0 0 0 .2rem rgba(225,83,97, 0) !important
 }
 .btn-warning:focus {
  color:#fff;
  background-color:#ffc107;
  border-color:#ffc107;
  box-shadow:0 0 0 .2rem rgba(225,83,97, 0) !important
 }
 .fc .fc-col-header-cell-cushion {
  color: #23272c;
 }

 .fc .fc-daygrid-day-number {
  color: #23272c;
 }

 .page-subtitle-1 {
  text-align: center;
  font-weight: bold;
 }

.page-subtitle-2 {
  text-align: left;
  font-weight: bold;
  padding-left: 17px;
  padding-bottom: 10px;
  padding-top: 20px;
}

 .fc .fc-daygrid-event {
  color: #23272c;
 }

 .accordion-custom-setup-1 {
   display: flex;
   flex-wrap: nowrap;
   justify-content: space-between;
   background-color: #F7F7F7;
  }


  .accordion-container-1 {
    background-color:  rgb(253, 253, 253);
    width: 99%;
    margin: auto;
    border-style: solid;
    border-width: 1px;
    border-color: #eeeeee;
  }

  .Toastify__toast-container {
    top: 4em !important; 
  }

  .Toastify__toast--info {
    background: #343A40 !important; 
    border-radius: 7px !important;

  }

  .Toastify__toast--error {
    background: #DC3545 !important; 
    border-radius: 7px !important;

  }

  .Toastify__toast-body {
    margin-left: "auto" !important;
    margin-right: auto !important;
    text-align: center !important;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
  }

  .custom-modal {
    width: 720px!important;
    min-width: 720px;
    max-width: none!important;
  }

  .custom-modal-2 {
    width: 600px!important;
    min-width: 600px;
    max-width: none!important;
  }
.fc-event-main::-webkit-scrollbar {
    width: 5px;
    height:5px;
}
.fc-event-main::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(200, 200, 200, 0.4);
    border-radius: 5px;
}

.fc-event-main::-webkit-scrollbar-thumb {
    background:rgba(220, 220, 220, 0.7);
    border-radius: 10px;
}

.fc-event-main::-webkit-scrollbar-thumb:hover {
    background:rgb(54, 56, 58);
}
.fc .fc-daygrid-event-harness{
    max-height: 64px;
    overflow: auto;
}
.fc .fc-daygrid-event-harness::-webkit-scrollbar {
    width: 5px;
    height:5px;
}
.fc .fc-daygrid-event-harness::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(200, 200, 200, 0.4);
    border-radius: 5px;
}
.fc .fc-daygrid-event-harness::-webkit-scrollbar-thumb {
    background:rgba(220, 220, 220, 0.7);
    border-radius: 10px;
}
.fc .fc-daygrid-event-harness::-webkit-scrollbar-thumb:hover {
    background:rgb(54, 56, 58);
}